<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fgl.tryout.android.training001"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        >
        <!-- FGL: 
        Es war notwendig android:theme hinzuzufügen auf Activity Ebene
        wenn man das auf Application Ebene entfernt.
        
        If your Java is using ActionBarActivity the theme must extend Theme.AppCompat. 
        There are a handful of built in themes that do extend Theme.AppCompat or you could extend it yourself and modify it. 
        Without removing the ActionBarActivity parent you cannot get around using the Theme.AppCompat.

		Lösung:
		In styles.xml verwende DarkActionBar
		<style name="AppTheme" parent="Theme.AppCompat.Light.DarkActionBar">		
         -->
        <activity
            android:name="de.fgl.tryout.android.training001.MainActivity"
            android:label="@string/app_name" 
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.fgl.tryout.android.training001.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:theme="@style/AppTheme"
            android:parentActivityName="de.fgl.tryout.android.training001.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fgl.tryout.android.training001.MainActivity" />
        </activity>
    </application>

</manifest>
